.welcome {
    background-color: #273355;
    margin: 5vw 0;
    padding-top: 2vw;

    img {
        width: 500px;
        height: auto;
    }

    h1 {
        padding: 2vw;
    }

    .home__text {
        margin-left: 2vw;

        h1 {
            margin-bottom: 2vw;
            text-transform: uppercase;
            text-align: center;
        }
    }

    .boss {
        display: flex;
        padding: 3vw 0;
    }

    .bossmid {
        .home__text {
            margin-left: 0vw;
            margin-right: 2vw;
        }
    }
}

.bossmid {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.title--big {
    text-align: center;
    font-size: 4vw !important;
}

.span__night {
    color: #000;
}

@media (max-width: 768px) {
    .boss, .bossmid {
        display: block;
        flex-wrap: wrap;
    }

    .home__text {
        margin-left: 0;
        margin-right: 0;
        padding: 2vw;
    }

    img {
        width: 100%;
        height: auto;
    }

    .title--big {
        font-size: 30px !important;
    }
}
